<div id="centerapp">

<script type="text/javascript">

	document.observe("dom:loaded", function() {
		wordCount('dream_dream', 500);
 		$('dream_dream').observe("keyup", function() { 
						            wordCount('dream_dream', 500); });
	})

	function wordCount(element, limit) {
		var count = $(element).getValue().length;
		$('dream-count').update(limit - count);
		if (count >= 450) {
		    $('dream-count').setStyle({ color: '#FF0000'});
		}
	}

</script>

<h1></h1>

 <% if current_user %>
    
<!-- %= render 'errsform' %-->

<div name = "postdream">

<%- form_for Dream.new do |f| -%>
  <div id="post_dream_form">
    <h3 style="float: left;">What was your dream?</h3><span id="dream-count" style="float:right"></span>

    <div id="dreamtext">
    	<%= f.text_area :dream, :cols => 80, :rows => 15 %>
    </div>
    <div id="submit_button_container">
      <%= f.submit "update", :class => "button" %>
    </div>
    <div class="clear"></div>
  </div>
<%- end -%>	

</div>

<ul id="dreams_list">
  <% @dreams.each do |dream|  %>
    <li<% if @dreams.first == dream %> class="first"<% end %>>
      <!--%= image_tag dream.user.gravatar_url %-->
      <div class="flit_message_container">
        <!--%= link_to dream.user.email, user_dreams_path(dream.user.email) %-->
        <%= h simple_format(dream.dream) %> 
        <%= link_to image_tag("delete.gif"), dream, :confirm => 'Are you sure?', :method => :delete %>
        <%= link_to image_tag("edit.gif"), edit_dream_path(dream) %>

        <div class="time_ago">
          <%= distance_of_time_in_words_to_now(dream.created_at) %> ago
        </div>
      </div>
      <div class="clear"></div>
    </li>
  <% end %>
</ul>


<% else %>
   No dreams for you until you login...
<% end  %>

<br />

</div>


